# --- Data & Models ---
data/*
!data/preprocess.py

not_completed/

saved_models/*
!saved_models/.gitkeep
!saved_models/base/
!saved_models/base/tfidf_logreg_0.1.0.pkl

*.parquet
*.csv
*.zip
*.tar.gz
*.h5
*.pt
*.onnx

# --- Python env ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- OS & IDE ---
.DS_Store
.vscode/
.idea/
.ipynb_checkpoints/

# --- Jupyter Notebook ---
.ipynb_checkpoints
