torch
torchvision
torchaudio

transformers
datasets
evaluate

scikit-learn
numpy
pandas
scipy

optuna
joblib

fastapi
uvicorn
pydantic
starlette
python-multipart

pyarrow
fastparquet
requests
python-dotenv

tensorboard
tqdm